@{
    ViewBag.Title = "Basic";
}
<h2>Hello <span data-bind="text: name"></span></h2>
@section Scripts {
    <script>
function ViewModel() {
 this.name = 'Bob Cratchet';
 };
 var viewModel = new ViewModel(name);
     
        window.onload = function() {
            ko.applyBindings(viewModel);
        };
    </script>
}